@model AracIhale.UI.Models.VM.BireyselAracTeklif
@using System.Runtime.Serialization
@using AracIhale.UI.Models.Extension;
@using Microsoft.AspNetCore.Http
@using AracIhale.UI.Models.Enums

@inject IHttpContextAccessor HttpContextAccessor
@{
	var kullaniciID = HttpContextAccessor.HttpContext?.Session.MySessionGet<int>("KullaniciID");
}

<br />
<div class="bg-white rounded p-3">
	<h4 style="color:dimgrey;">İhaleye Teklif Verme</h4>
	<div class="col-md-4">
		<form asp-action="TeklifVer">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input asp-for="IhaleID" class="form-control" type="hidden" />
				<span asp-validation-for="IhaleID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="KullaniciID" class="form-control" value="@kullaniciID" readonly type="hidden" />
				<span asp-validation-for="KullaniciID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TeklifFiyati" class="control-label"></label>
				<input asp-for="TeklifFiyati" class="form-control" />
				<span asp-validation-for="TeklifFiyati" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<a href="/Ihale/AracListeleme" class="btn btn-primary">İptal</a>
				<input type="submit" value="Teklif Ver" class="btn btn-success" onclick="return confirmTeklif()" />
			</div>


		</form>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
<script>
	function confirmTeklif() {
		return confirm('Teklifiniz başarıyla gerçekleştirildi.');
	}

</script>