@model AracIhale.UI.Models.VM.IhaleListesiVM


<div class="bg-white rounded p-3">
	<h4 style="color:dimgrey;">İhale Düzenleme</h4>
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input asp-for="IhaleID" class="form-control" type="hidden" />
				<span asp-validation-for="IhaleID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="IhaleAdi" class="form-label">İhale Adı</label>
				<input asp-for="IhaleAdi" class="form-control" />
				<span asp-validation-for="IhaleAdi" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="BireyselKurumsalID" class="form-control" type="hidden" />
				<span asp-validation-for="BireyselKurumsalID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="KurumsalSirketAdi" class="form-control" type="hidden" />
				<span asp-validation-for="KurumsalSirketAdi" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="IhaleStatuID" class="form-label">Statüsü</label>
				<select asp-for="IhaleStatuID" class="form-control">
					<option value="1">Başlamadı</option>
					<option value="2">Başladı</option>
					<option value="3">Bitti</option>
					<option value="4">İptal</option>
				</select>
				<span asp-validation-for="IhaleStatuID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="IhaleBaslangicTarihi" class="form-label">İhale Başlangıç Tarihi</label>
				<input asp-for="IhaleBaslangicTarihi" class="form-control" />
				<span asp-validation-for="IhaleBaslangicTarihi" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="IhaleBaslangicSaati" class="form-label">İhale Başlangıç Saati</label>
				<input asp-for="IhaleBaslangicSaati" class="form-control" />
				<span asp-validation-for="IhaleBaslangicSaati" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="IhaleBitisTarihi" class="form-label">İhale Bitiş Tarihi</label>
				<input asp-for="IhaleBitisTarihi" class="form-control" />
				<span asp-validation-for="IhaleBitisTarihi" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="IhaleBitisSaati" class="form-label">İhale Bitiş Saati</label>
				<input asp-for="IhaleBitisSaati" class="form-control" />
				<span asp-validation-for="IhaleBitisSaati" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="AracID" class="form-control" type="hidden" />
				<span asp-validation-for="AracID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="AracOzellikID" class="form-control" type="hidden" />
				<span asp-validation-for="AracOzellikID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="IhaleBaslangicFiyati" class="form-label">İhale Başlangıç Fiyatı</label>
				<input asp-for="IhaleBaslangicFiyati" class="form-control" />
				<span asp-validation-for="IhaleBaslangicFiyati" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="MinimumAlimFiyati" class="form-label">Minimum Alım Fiyatı</label>
				<input asp-for="MinimumAlimFiyati" class="form-control" />
				<span asp-validation-for="MinimumAlimFiyati" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Kaydet" class="btn btn-success" />
				<a asp-action="AracListeleme">Listeye Geri Dön</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
